<div *ngIf="editFlag">
  <mat-form-field class="example-form-field" appearance="fill" style="width: 140px;">
    <mat-label>在这里输入……</mat-label>
    <input matInput type="text" autocomplete="off" [(ngModel)]="content">
    <button matSuffix mat-icon-button (click)="toggle()" >
      <mat-icon>done</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="issue-input" *ngIf="!editFlag">
  <span>{{ content }}</span>
  <button mat-icon-button (click)="toggle()">
    <mat-icon>edit</mat-icon>
  </button>
</div>
