<div *ngIf="editFlag">
  <mat-form-field appearance="fill">
    <mat-label>在这里输入……</mat-label>
    <input matInput type="text" autocomplete="off" [(ngModel)]="content">
    <button matSuffix mat-icon-button (click)="toggle()" >
      <mat-icon>done</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="issue-input" *ngIf="!editFlag">
  <span fxFlex>{{ content }}</span>
  <button mat-icon-button (click)="toggle()">
    <mat-icon style="font-size: 26px;">edit</mat-icon>
  </button>
</div>
