<!-- <button (click)="create()">创建地址</button> -->
<!-- <br>
<input type="text" [(ngModel)]="address">
<button (click)="add()">+1</button> -->
<!-- <button (click)="conn()">连接远程地址</button> -->

<!-- <div
  cdkDropList
  cdkDrag
  [cdkDropListData]="timePeriods"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <div class="example-box" [cdkDragData]="item" *ngFor="let item of timePeriods" cdkDrag>{{item}}</div>
</div> -->
<mat-form-field appearance="fill">
  <mat-label>添加版本</mat-label>
  <input matInput type="text" #version>
  <button  matSuffix mat-icon-button aria-label="Clear" (click)="addVersion(version.value)">
    <mat-icon>done</mat-icon>
  </button>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>添加功能</mat-label>
  <input matInput type="text" #function>
  <button  matSuffix mat-icon-button aria-label="Clear" (click)="addFunction(function.value)">
    <mat-icon>done</mat-icon>
  </button>
</mat-form-field>
<div style="height: 100%" cdkDropListGroup>
    <div style="display: flex;">
      <div class="stand-width">
        <inline-edit [content]="storyMap.name"></inline-edit>
      </div>
      <div class="stand-width" *ngFor="let functionCol of storyMap.functionColList">
        <inline-edit [content]="functionCol"></inline-edit>
      </div>
    </div>
    <div style="display: flex;" *ngFor="let versionRow of storyMap.versionRowList; let row = index">
      <div class="stand-width" >
        <inline-edit style="margin: auto 0;" [content]="versionRow"></inline-edit>
      </div>
      <div class="stand-width" [style.background]="'#eeeeee'" *ngFor="let feature of storyMap.functionColList; let col = index">
        <feature-area [featureList]="getfeatureList(row, col)" (issueCreate)="addIssue($event, row, col)" ></feature-area>
      </div>
    </div>
</div>
