<!-- <button (click)="create()">创建地址</button> -->
<!-- <br>
<input type="text" [(ngModel)]="address">
<button (click)="add()">+1</button> -->
<!-- <button (click)="conn()">连接远程地址</button> -->

<!-- <div
  cdkDropList
  cdkDrag
  [cdkDropListData]="timePeriods"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <div class="example-box" [cdkDragData]="item" *ngFor="let item of timePeriods" cdkDrag>{{item}}</div>
</div> -->

<div style="height: 100%" cdkDropListGroup>
  <mat-grid-list style="height: 100%" [cols]="storyMap.functionColList.length + 1" rowHeight="70px">
    <ng-container >
      <mat-grid-tile rowspan="2">
        <inline-edit [content]="storyMap.name"></inline-edit>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" *ngFor="let functionCol of storyMap.functionColList">
        <inline-edit [content]="functionCol"></inline-edit>
      </mat-grid-tile>
    </ng-container>
    <ng-container *ngFor="let versionRow of storyMap.versionRowList; let row = index">
      <mat-grid-tile [rowspan]="getFeatureRowSpan(row)">
        <inline-edit [content]="versionRow"></inline-edit>
      </mat-grid-tile>
      <mat-grid-tile [style.background]="'#eeeeee'" [rowspan]="getFeatureRowSpan(row)" *ngFor="let feature of storyMap.functionColList; let col = index">
        <feature-area [featureList]="getfeatureList(row, col)" (issueCreate)="addIssue($event, row, col)" ></feature-area>
      </mat-grid-tile>
    </ng-container>

  </mat-grid-list>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>添加版本</mat-label>
    <input matInput type="text" #version>
    <button  matSuffix mat-icon-button aria-label="Clear" (click)="addVersion(version.value)">
      <mat-icon>done</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>添加功能</mat-label>
    <input matInput type="text" #function>
    <button  matSuffix mat-icon-button aria-label="Clear" (click)="addFunction(function.value)">
      <mat-icon>done</mat-icon>
    </button>
  </mat-form-field>
</div>
