<mat-form-field appearance="fill">
  <mat-label>复制链接</mat-label>
  <input matInput type="text" [(ngModel)]="room" disabled="true">
  <button  matSuffix mat-icon-button aria-label="Clear" (click)="copy()">
    <mat-icon>content_copy</mat-icon>
  </button>
</mat-form-field>
<inline-edit [content]="nickName" (contentChange)="saveNickName($event)"></inline-edit>
<div style="height: 100%" cdkDropListGroup>
    <div style="display: flex;">
      <div class="stand-width">
        <inline-edit [content]="storyMap.name" (contentChange)="modifyName($event)"></inline-edit>
      </div>
      <div class="stand-width" *ngFor="let functionCol of storyMap.moduleList; let i = index">
        <inline-edit [content]="functionCol" (contentChange)="modifyModule($event, i)"></inline-edit>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>添加功能</mat-label>
        <input matInput type="text" #function>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="addModule(function.value)">
          <mat-icon>done</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div style="display: flex;" *ngFor="let versionRow of storyMap.versionList; let row = index">
      <div class="stand-width" >
        <inline-edit style="margin: auto 0;" [content]="versionRow" (contentChange)="modifyVersion($event, row)"></inline-edit>
      </div>
      <div class="stand-width" *ngFor="let feature of storyMap.moduleList; let col = index">
        <feature-area
        [row]="row"
        [col]="col"
        [featureList]="getfeatureList(row, col)"
        (issueCreate)="addIssue($event, row, col)"
        (issueModify)="modifyIssue($event, row, col)"
        (issueMove)="moveIssue($event)"></feature-area>
      </div>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>添加版本</mat-label>
      <input matInput type="text" #version>
      <button matSuffix mat-icon-button aria-label="Clear" (click)="addVersion(version.value)">
        <mat-icon>done</mat-icon>
      </button>
    </mat-form-field>
</div>

